<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar</title>
</head>
<body>
    <h1>Agregar pelicula</h1>
    <form action="{% url 'agregar' %}" method="post">
        {% csrf_token %}
        titulo: <input type="text" name = "titulo"><br>
        year:   <input type="text" name = "year"><br>
        bio:    <input type="text" name = "bio"><br>
        <input type="submit" value="Agregar">
    </form>
    <a href="{% url  'ver_peliculas' %}">Lista peliculas</a>
</body>
</html>