<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar peliculas database</title>
    <style> 
        p, ul, li, a, .D{
           font-size: 30px; 
        }
    </style>
</head>
<body>
    <h1>Agregar pelicula</h1>
    <form action="{% url 'agregarbd' %}" method="post" class="D">
        {% csrf_token %}
        Titulo de la pelicula: <input type="text" name = "title" class="D"><br><br>
        Año de la pelicula:   <input type="text" name = "year" class="D"><br>
        <input type="submit" value="Agregar" class="D">
    </form>
    <br><br><a href = "{% url 'peliculasbd' %}">ver pelis</a>
</body>
</html>