{% extends 'base.html' %}

{% block title %}
    hija1
{% endblock title %}

{% block content %}
    <div>
        información de hija 1 :D
    </div>
    <div>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus a quidem sapiente. Earum omnis placeat nam ullam, odit aliquid, accusamus dolorum consectetur facere molestiae amet sequi asperiores tempore veritatis quis.
        </p>
    </div>    
{% endblock content %}
    

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>