<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>modificar</title>
</head>
<body>
    <h1>Modificar pelicula</h1>
    <form action="{% url 'modificar' id=id %}" method="POST">
        {% csrf_token %}
        titulo: <input type="text" name = "titulo" value="{{titulo}}"><br>
        year:   <input type="text" name = "year" value="{{year}}"><br>
        bio:    <input type="text" name = "bio" value="{{bio}}"><br>
        <input type="submit" value="Modificar">
    </form>
    <a href="{% url  'ver_peliculas' %}">Lista peliculas</a>
</body>
</html>