<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>peliculas</title>
    <style>
        p{font-size: 25px;}
    </style>
</head>
<body>
    <p>
        {{valor}}<br>
    </p>
    <p>
        {% for peli in peliculas %}
        {{peli.titulo|upper}} - {{peli.year}}<br>
        {%endfor%}
    </p>
    <p>
        {% for peli in peliculas %}
            {{peli.titulo|lower}} - {{peli.year}} - {{peli.bio | truncatewords:"10"}} -
            {% if peli.year < 2010 %} viejitas {% elif peli.year >= 2010%} nuevas {% endif %}
            - <a href = "{% url 'borrar' id=forloop.counter0 %}">borrar</a>
            - <a href = "{% url 'modificar' id=forloop.counter0 %}"> modificar </a>
            <br><br>
        {%endfor%}
        <a href = "{% url 'agregar' %}">agregar pelis </a>
    </p>
</body>
</html> 